<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd   http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--解释：applicationContext是spring的配置文件,如果在web.xml中引入这个配置文件,-->
    <!--那么配置文件中IOC的一些bean就会交予spring管理,在其加载时自动注入,不需要人工再去手动实体化-->
    <!--也就是说,如果需要一些在项目启动时就自动注入的类,可以配置在spring中,然后通过web.xml导入配置后自动注入-->


    <!-- 一、这个标签告诉Spring，所有的bean都放在这个文件夹中，你需要自己去找。主要指定实体类的文件夹-->
    <context:component-scan base-package="wuxl.study.entity"/>

    <!-- 二、这个标签告诉Spring，我添加了注解的你都要给我配置好，我自己就不在手动添加了。主要用于@Autowired和@Resouces等注解-->
    <context:annotation-config/>


    <!-- 三、为了能正常扫描到@Aspect注解和对应的类，需要添加下面的component-scan-->
    <context:component-scan base-package="wuxl.study.aop"/>

    <!-- 四、这个标签告诉Spring，我有添加@Aspect就是切面业务，你也要给我自动配置好-->
    <aop:aspectj-autoproxy/>

    <!-- 五、想要service也能注入，就要引入serviceImpl才行,比如在使用@Resource  private 资源的时候-->
    <context:component-scan base-package="wuxl.study.serviceImpl"/>


    <!-- 六、定义datasource用于下面的mybatis配置引用,applicationContext中配置了就不需要在mybatisConfig中配置了,相当与集成mybatis-->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName">
            <value>com.mysql.jdbc.Driver</value>
        </property>
        <property name="url">
            <value>jdbc:mysql://localhost:3306/how2java?characterEncoding=UTF-8</value>

        </property>
        <property name="username">
            <value>root</value>
        </property>
        <property name="password">
            <value>i64937290wxl</value>
        </property>
    </bean>

    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="typeAliasesPackage" value="wuxl.study.entity" />
        <property name="dataSource" ref="dataSource"/>
        <property name="mapperLocations" value="classpath:wuxl/study/mapper/*.xml"/>
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="wuxl.study.dao"/>
    </bean>









</beans>