<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

    <!--一、配置了路径拦截器，用户访问特定路径的时候可以跳转到某个处理方法上，前提是该处理类已经注入，否则报错。-->
    <!--映射配置方式1：通过Handlermapping和实现Controller接口实现映射，这种方式非常麻烦-->
    <bean id="simpleUrlHandlerMapping"
          class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="mappings">
            <props>
                <!--key-value设置，key路径对应什么处理类-->
                <prop key="/index">indexController</prop>
            </props>
        </property>
    </bean>
    <!--注入   /index  路径 相应的处理类-->
    <bean id="indexController" class="wuxl.study.controller.IndexController"></bean>



    <!--映射配置方式2：除了配置DispatcherServlet，其他全部通过注解方式实现映射-->




    <!--二、配置视图处理，定位前端页面所在文件夹，不用每次都输全路径。这样定义之后只需要输入文件名即可，而不用输入/WEB-INF/page/*.jsp这样的格式-->
    <!--<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">-->
        <!--&lt;!&ndash;定义前缀&ndash;&gt;-->
        <!--<property name="prefix" value="/WEB-INF/page/"/>-->
        <!--&lt;!&ndash;定义后缀&ndash;&gt;-->
        <!--<property name="suffix" value=".jsp"/>-->
    <!--</bean>-->

</beans>